<h2>Add a new user to admin</h2>

<form action="/add-user" type="text" id="userform" method="POST">

	<p>
		<label for="username">Your username:</label>
		<input name="username" type="text" value="" id="username">
	</p>
	<p>
		<label for="password">Your Password:</label>
		<input name="password" type="password" value="" id="password">
	</p>
	<p>
		<label for="confirm-password">Confirm Password:</label>
		<input name="confirm-password" type="password" value="" id="confirm-password">
	</p>
	<p>
		<input name='submit' type='submit' value="Send" id="submit">
	</p>
</form>