
<h1>{{ title }}</h1>

<h2>Post a new idea!</h2>

<form action="/" type="text" id="ideaform" method="POST">
	<p>
		<label for="title">Your Idea Title:</label>
		<input name="title" type="text" value="" id="title">
	</p>
	<p>
		<label for="body">Idea:</label>
		<textarea name="body" cols="40" rows="10" id="body"></textarea>
	</p>
	<p>
		<input name='submit' type='submit' value="Send" id="submit">
	</p>
</form>

<h2>My Ideas:</h2>

{{#each ideas}}
	<p>
		<a href="/article/{{id}}">{{title}}</a><br/>
		Published: {{ date }}
	</p>
{{/each}}