<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>

<header>
	<h3><a href="/">Home</a></h3>
	{{#if user }}
	<h3><a href="/article/add">New Idea</a></h3>
	<h3><a href="/logout">Logout</a></h3>
	{{else}}
	<h3><a href="/login">Login</a></h3>
	{{/if}}
	<h3><a href="/contact">Contact</a></h3>
</header>
<body>
	<div>

{{{ body }}}

</div>
 
<footer>
<p>
    <a href="/">Home</a> 
</p>
</footer>
 
</body>
</html>